:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
 .navBar{
    height: 2rem;
    border-radius: 20px;
    border: 5px solid #d8d0d4;
    background-color: #C24A9E;
    color: rgba(250, 250, 250, 0.8);
    padding: 0.5rem;
    max-width: 800px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
 }
 .navBar h2{
    margin-bottom: 2.2rem;
 }
 .navBar h1{
    margin-bottom: 2.2rem;
 }

.cardStyle {
    border-radius: 20px;
    border: 1px solid #d8d0d4;
    background-color: #C24A9E;
    color: rgba(250, 250, 250, 0.8);
    padding: 0.5rem;
    max-width: 800px;
    transition: box-shadow 0.3s ease;
    text-align: center;
    color: #fff;
    opacity: 0;
    animation: fadeInUp 0.8s forwards;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.cardStyle .partners{
    margin-right: 3rem;
    margin-top: 10px;
}


h1 {
    padding: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 0.5rem;
}

.button {
    margin-left: 1rem;
    background-color: #d8d0d4;
    color: #312d18;
    animation: fadeInUp 0.8s forwards;
}

.icons {
    width: 3rem;
    padding: 0.3rem;
}

.gridContainer {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    text-align: center;
    animation: fadeInUp 0.8s forwards;

}

.gridContainer h4 {
    color: #312d18;
}

.gridContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 480px){
    .cardStyle{
        padding: 0.6rem;
    }
    .cardStyle p{
        font-size: 0.65rem;
    }
  .icons{
    width:2.5rem;
    margin-right: 10px;  }
    .navBar{
        height: 3.5rem;
        overflow-y: hidden;
    }
    .navBar h2{
        font-size: 1.3rem;
        
    }
    .navBar h1{
        margin-left: -10px;
        font-size:1.7rem;
        margin-bottom: 1rem;
    }

    .button {
        font-size: 10px;
    }
    .gridContainer h4{
        height: 2rem;
        

    }
    .cardStyle .partners{
        margin-right: 1rem;
    }
  }
  