:root {
    --gradient: linear-gradient(to left top, #DD2476 10%, #FF512F 90%) !important;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.heroContainer{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
 h1{
    margin-bottom: 2rem;
 }
.hippoCat{
    width: 30rem;
    margin-top:3rem;
   border-radius: 20px;
   animation: fadeInUp 1s forwards;
  }
  .tweet{
width: 20rem;
border-radius: 30px;
margin-bottom: 2rem;
animation: fadeInUp 1s forwards;
  }
  .buttonsContainer{
margin-top: 2rem;
justify-content: center;
align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    animation: fadeInUp 0.8s forwards;
  }

  .buy{
    background-color: #C24A9E;
  }
  .chart{
    background-color: #d8d0d4;
    color: #312d18;
  }
  .moo{
    width: 35rem;
    margin-top:3rem;
   border-radius: 20px;
   animation: fadeInUp 1s backwards;
  }

  @media (max-width: 480px){

    .hippoCat{
      width: 20rem;
    }
    .moo{
      width: 20rem;
    }
  }